@keyframes sun-rotate {
  0% {
    transform: translateY(60px) translateX(-35px) rotate(0deg);
  }

  25% {
    transform: translateY(25px) translateX(-10px) rotate(45deg);
  }

  35% {
    transform: translateY(25px) translateX(-10px) rotate(45deg);
  }

  100% {
    transform: translateY(70px) translateX(40px) rotate(200deg);
  }
}

@keyframes animate-shadow {
  0% {
    clip-path: polygon(0% 98%, 75% 100%, 25% 100%);
  }

  26% {
    clip-path: polygon(7% 60%, 75% 100%, 25% 100%);
  }

  36% {
    clip-path: polygon(9% 60%, 75% 100%, 25% 100%);
  }

  50% {
    clip-path: polygon(30% 80%, 75% 100%, 25% 100%);
  }

  62% {
    clip-path: polygon(65% 80%, 75% 100%, 25% 100%);
  }

  75% {
    clip-path: polygon(90% 70%, 75% 100%, 25% 100%);
  }

  90% {
    clip-path: polygon(100% 96%, 75% 100%, 25% 100%);
  }

  100% {
    clip-path: polygon(100% 98%, 75% 100%, 25% 100%);
  }
}

@keyframes left-shadow {
  0% {
    border-bottom: 70px solid rgb(202, 201, 201);
  }

  25% {
    border-bottom: 70px solid rgb(240, 240, 240);
  }

  50% {
    border-bottom: 70px solid rgb(240, 240, 240);
  }

  100% {
    border-bottom: 70px solid rgb(171, 171, 171);
  }
}

@keyframes right-shadow {
  0% {
    border-bottom: 70px solid rgb(139, 139, 139);
  }

  25% {
    border-bottom: 70px solid rgb(191, 191, 191);
  }

  35% {
    border-bottom: 70px solid rgb(191, 191, 191);
  }

  70% {
    border-bottom: 70px solid rgb(240, 240, 240);
  }

  100% {
    border-bottom: 70px solid rgb(234, 234, 234);
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0%;
  }
  17% {
    opacity: 100%;
  }
  72% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #39393c;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: skyblue;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;
  opacity: 0%;
  animation: fade-in-out 4000ms linear infinite;
}

.sand {
  background-color: rgb(224, 203, 100);
  width: 100%;
  height: 60px;
  transform: translateY(140px);
}

.left-face {
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 70px solid rgb(202, 201, 201);
  border-left: 70px solid transparent;
  border-right: 15px solid transparent;
  transform: translateY(70px) translateX(29px);
  z-index: 2;
  animation: left-shadow 4000ms ease-in-out infinite;
}

.right-face {
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 70px solid rgb(139, 139, 139);
  border-left: 0px solid transparent;
  border-right: 70px solid transparent;
  transform: translateY(70px) translateX(99px);
  z-index: 1;
  animation: right-shadow 4000ms ease-in-out infinite;
}

.sun {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: rgb(233, 233, 23);
  border-radius: 100%;
  transform-origin: 290% center;
  animation: sun-rotate 4000ms ease-in-out infinite;
  transform: translateY(60px) translateX(-35px);
}

.shadow {
  background-color: rgba(105, 105, 76, 0.596);
  clip-path: polygon(50% 50%, 75% 100%, 25% 100%);
  z-index: 1000;
  height: 100px;
  width: 280px;
  transform: translateX(41px) translateY(-80px);
  rotate: 180deg;
  animation: animate-shadow 4000ms linear infinite;
}
