.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(54, 60, 180);
  background: linear-gradient(
    45deg,
    rgba(54, 60, 180, 1) 0%,
    rgba(29, 188, 198, 1) 100%
  );
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-one {
  font-family: 'Courier New', 'Courier', sans-serif;
  color: white;
  font-size: 80px;
  font-weight: 1000;
}

.text-two {
  font-family: 'Courier New', 'Courier', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 1000;
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one-one {
  box-sizing: border-box;
  background-color: white;
  height: 100px;
  width: 26px;
  border-radius: 3.5px;
  z-index: 10;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.one-two {
  background-color: white;
  height: 45px;
  width: 23px;
  border-radius: 5px;
  rotate: 45deg;
  margin-left: -53px;
  margin-top: -54px;
  z-index: 9;
}

.zero-one,
.zero-two {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: white solid 26px;
  box-sizing: border-box;
}

.zero-one {
  z-index: 8;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.zero-two {
  z-index: 7;
  margin-left: -35px;
}
